<h1>OT Committee Statistics<small class="text-muted"> - Organisations</small></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Envisage key</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <th scope="row"><%= organisation.name %></td>
        <td><%= organisation.envisage_key %></td>
        <td><%= table_action_buttons(organisation, []) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= create_new_action_button("Organisation") %>
