<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @organisation.name %>
  </p>

  <p>
    <strong>Envisage key:</strong>
    <%= @organisation.envisage_key %>
  </p>

  <%= link_to 'Edit', edit_organisation_path(@organisation), class: "btn btn-primary mb-1" %>
  <%= link_to 'Back', organisations_path, class: "btn btn-info mb-1" %>
</div>
