<div class="container">
  <h1>Editing Statistic</h1>

  <%= render 'form', statistic: @statistic %>

  <%= link_to 'Show', statistic_path(@statistic, graph_id: @graph.id), class: "btn btn-primary"  %> |
  <%= link_to 'Back', statistics_path(graph_id: @graph.id), class: "btn btn-info"  %>
</div>
