<div class="container">

  <h1>Purpose</h1>

  <p class="lead text-uppercase">
    <i>&quot;To help LRH organise and channel OT forces, interests and resources for the greatest good for Scientology&quot;</i> - HCO PL Central Committee, 11 August 1967
  </p>

</div>
