<div class="container">
    <iframe src="https://iframe.videodelivery.net/<%=@signed_token%>" style="border: none;" height="720" width="1280" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
</div>
