<div class="container">

  <h1>Editing Stream</h1>

  <%= render 'form', stream: @stream %>

  <%= link_to 'Show', admin_stream_path(@stream), class: "btn btn-primary mb-1" %>
  <%= link_to 'Back', admin_streams_path, class: "btn btn-info mb-1" %>

</div>
