/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-icons
 *= require_self
 */

.main-container {
  margin-top: 10px;
}


h1 {
  font-size: 3.6vw;
}
h2 {
  font-size: 3.2vh;
}
h3, dt, label {
  font-size: 2.8vh;
}
p, td, li, dd {
  font-size: 2vmin;
}

.pages.home .container {
  min-height: 500px;
}

.graphs.report h1 {
  font-size: 2.5em;
}

.graphs.report h2 {
  font-size: 1.8em;
}

.graphs.report h3 {
  font-size: 1em;
}

.graphs.report td, .graphs.report th {
  font-size: 0.9em;
}

.graphs.report p {
  font-size: 0.7em;
}

.graphs.report ol {
  padding: 5px 5px 5px 20px;
}

.graphs.report ol li {
  margin: 5px;
}


.graphs.report h1, .graphs.report h3 {
  color: #009999;
}

.graphs.report th {
  background-color: #ffffcc;
}


/* override styles when printing */
@media print {
  body {
    margin: 0;
  }

  nav, footer {
      display: none;
  }
}
