<footer class="footer">
  <div class="container-fluid">
    <div class="float-left">
      OT Committe Statistcs
    </div>
    <div class="copyright float-right">
      <%= Date.today.year %>
    </div>
  </div>
</footer>
