<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-left">
        OT Ambassador Program
      </div>
      <div class="col-md-4 text-center">
        <%= ENV.fetch('TEST_ENVVAR_UPDATE', '-') %>
      </div>
      <div class="copyright col-md-4 text-right">
        OTC AOSH ANZO &copy; 2020 - <%= Date.today.year %>
      </div>
    </div>
  </div>
</footer>
