<footer class="footer">
  <div class="container-fluid">
    <div class="float-left">
      OT Ambassador Program
    </div>
    <div class="copyright float-right">
      &copy; OTC AOSH 2020 - <%= Date.today.year %>
    </div>
  </div>
</footer>
