<div class="container">
  <h1>Editing Signed Url</h1>

  <%= render 'form', signed_url: @signed_url %>

  <%= link_to 'Show', @signed_url, class: "btn btn-primary mb-1" %> |
  <%= link_to 'Back', admin_signed_urls_path, class: "btn btn-info mb-1" %>
</div>
