<div class="container">

  <h1>Editing Member</h1>

  <%= render 'form', member: @member %>

  <%= link_to 'Show', @member, class: "btn btn-primary mb-1" %>
  <%= link_to 'Back', members_path, class: "btn btn-info mb-1" %>

</div>
